<link rel="stylesheet" href="/css/index.css">
<script src="/js/index.js"></script>
<div class="header-blue">
        <div class="container hero">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                    <h1>Best note taking app ever</h1>
                    <p>The best note taking app created by Ray, enjoy awesome styling, immediate-response note taking experience. If you have any question please contact rayguo17@gmail.com. Let's give it a try right now! You are welcome to share with me how you use it!</p><br></p> 
                    <a class="btn btn-light btn-lg action-button btn3d btn-success" type="button" href="/home">Get Started</a>
                    <button id="noti-test" class="btn btn-light btn-lg btn3d btn-primary">notification test</button>
                </div>
                <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                    <div class="iphone-mockup"> <img class="device" src="/img/takenote.jpg"> <!-- <div class="screen">	</div>	-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   {{!-- <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalLabel">Register</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/signup" method="POST" id="register-form">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">User Name:</label>
            <input type="text" class="form-control" id="recipient-name" name="username">
          </div>
          <div class="mb-3">
            <label for="recipient-email" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="recipient-email" name="email">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Password:</label>
            <input type="password" class="form-control" id="message-text" name="password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="register-form">Register</button>
      </div>
    </div>
  </div>
</div> 


<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Log in</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST" id="login-form">
          <div class="mb-3">
            <label for="recipient-email" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="recipient-email" name="username">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Password:</label>
            <input type="password" class="form-control" id="message-text" name="password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="login-form">Log in</button>
      </div>
    </div>
  </div>
</div>  --}}